# =====================================================
# Configurações do Snowflake
# =====================================================

# Credenciais do Snowflake
SNOWFLAKE_USER=ALEXBETIM2025
SNOWFLAKE_PASSWORD=your_password_here
SNOWFLAKE_ACCOUNT=FYRESSZ-ME75053
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=STANGING
SNOWFLAKE_SCHEMA=AZURE_SYNAPSE

# Configurações do Azure Blob Storage
AZURE_STORAGE_ACCOUNT=lakeiqbetim
AZURE_CONTAINER=raw
AZURE_SAS_TOKEN=sp=racwdlme&st=2025-07-11T00:17:13Z&se=2025-08-01T08:17:13Z&sv=2024-11-04&sr=c&sig=5Lkxtrc%2BfjmhyKsfB62GfvrRm%2F0ygz7uXqs4oiDHftQ%3D

# Configurações do Snowpipe
SNOWPIPE_NAME=station_information_pipe
TASK_NAME=process_station_information_task
WAREHOUSE_TASK=COMPUTE_WH_TASK
SCHEDULE_INTERVAL=1 minute

# Configurações dos arquivos
JSON_FILE_PATH=gbfs/en/station_information.json 